
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1496121691558'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1496121691558#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1496121691558') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1496121691558') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1496121691558#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconziti08:before { content: "\e611"; }

.icon-zhuanpan:before { content: "\e63c"; }

.icon-shuqian:before { content: "\e6a4"; }

.icon-liwu:before { content: "\e615"; }

.icon-zuanshi:before { content: "\e613"; }

.icon-lishi:before { content: "\e681"; }

.icon-wujiaoxing:before { content: "\e634"; }

.icon-nv:before { content: "\e614"; }

.icon-sousuo:before { content: "\e64b"; }

.icon-zhangdan:before { content: "\e6a1"; }

.icon-kefufengexian:before { content: "\e659"; }

.icon-nan:before { content: "\e633"; }

.icon-shujia:before { content: "\e61d"; }

.icon-tuijian:before { content: "\e600"; }

.icon-renqi1:before { content: "\e601"; }

.icon-erweima:before { content: "\e602"; }
