
        <div class="pageheader notab">
            <h1 class="pagetitle">编辑客服消息</h1>
            <span class="pagedesc">添加客服消息之后记得添加文章!</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
            <form class="stdform stdform2" method="post">
				<p>
					<label>客服消息标题<small></small></label>
					<span class="field"><input type="text" name="title" id="title" value="{$info.title}" class="smallinput" /></span>
				</p>
				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>
			</form>
        </div><!--contentwrapper-->
        