
        <div class="pageheader notab">
            <h1 class="pagetitle">漫画分集图片内容设置（{$mhinfo.title}）（第{$episodesinfo.ji_no}话  {$episodesinfo.title}）</h1>
            <span class="pagedesc">设置漫画分集图片内容,最多支持30张图片</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
            <form class="stdform stdform2" method="post">
            <input type="hidden" name="mhid" id="mhid" value="{$mhid}" />
            <input type="hidden" name="id" id="id" value="{$id}" />
				<div class="tableoptions">                    
                    <input value="添加图片" type="button" class="radius3" onclick="add_row()" />
                </div><!--tableoptions-->
				<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                    <thead>
                        <tr>
                            <th class="head1" width="520">图片</th>
                            <!-- <th class="head0" style=" text-align:center;">暂时</th> -->
							<th class="head0">操作</th>
                        </tr>
                    </thead>
                    <tbody>
						
                    	<volist name="arrpics" id="vo">
                        <tr>
                            <td>
								<iframe src="{:U('upload?event=setPath'.$i.'&url='.$vo)}" scrolling="no" style="width:180px; height:200px;"></iframe>
								<input type="hidden" name="pic[]" value="{$vo.pic}" />
							</td>
                            <!-- <td><input type="text" name="url[]" value="{$vo.url}" /></td> -->
							<td><a href="javascript:;" onclick="del_row(this)">删除</a></td>
                        </tr>
                        </volist>
						<!--tr>
                            <td>
								<iframe src="{:U('upload?event=setPath0')}" scrolling="no" style="width:500px; height:200px;"></iframe>
								<input type="hidden" name="pic[]" value="{$vo.pic}" />
							</td>
                            <td><input type="text" name="url[]" value="{$vo.url}" /></td>
							<td><a href="javascript:;" onclick="del_row(this)">删除</a></td>
                        </tr-->
                    </tbody>
                </table>
				<script>
				function add_row(){
					//return false;
					html = '<tr>'
						  +'	 <td>'
						  +'		<iframe src="{:U('upload?event=setPath_n_')}" scrolling="no" style="width:180px; height:200px;"></iframe>'
						  +'		<input type="hidden" name="pic[]" value="" />'
						  +'	</td>'
						  /* +'	<td><input type="text" name="url[]" /></td>' */
						  +'	<td><a href="javascript:;" onclick="del_row(this)">删除</a></td>'
						  +'</tr>';
					size = jQuery("#table2").find("tbody").find("tr").size();
					if(size>=31){
						alert('最多30张图片');
						return false;
					}
					jQuery("#table2").find("tbody").append(html.replace('_n_',size+1));
				}
				
				function del_row(obj){
					jQuery(obj).parent("td").parent("tr").remove();
				}
				
				function setPath(index,url){
					jQuery("#table2").find("tbody").find("tr").eq(index-1).find("td:eq(0)").find("input[type=hidden]").val(url);
				}
				function setPath0(url){
					setPath(0, url)
				}
				function setPath1(url){
					setPath(1, url)
				}
				function setPath2(url){
					setPath(2, url)
				}
				function setPath3(url){
					setPath(3, url)
				}
				function setPath4(url){
					setPath(4, url)
				}
				function setPath5(url){
					setPath(5, url)
				}
				function setPath6(url){
					setPath(6, url)
				}
				function setPath7(url){
					setPath(7, url)
				}
				function setPath8(url){
					setPath(8, url)
				}
				function setPath9(url){
					setPath(9, url)
				}
				function setPath10(url){
					setPath(10, url)
				}
				function setPath11(url){
					setPath(11, url)
				}
				function setPath12(url){
					setPath(12, url)
				}
				function setPath13(url){
					setPath(13, url)
				}
				function setPath14(url){
					setPath(14, url)
				}
				function setPath15(url){
					setPath(15, url)
				}
				function setPath16(url){
					setPath(16, url)
				}
				function setPath17(url){
					setPath(17, url)
				}
				function setPath18(url){
					setPath(18, url)
				}
				function setPath19(url){
					setPath(19, url)
				}
				function setPath20(url){
					setPath(20, url)
				}
				function setPath21(url){
					setPath(21, url)
				}
				function setPath22(url){
					setPath(22, url)
				}
				function setPath23(url){
					setPath(23, url)
				}
				function setPath24(url){
					setPath(24, url)
				}
				function setPath25(url){
					setPath(25, url)
				}
				function setPath26(url){
					setPath(26, url)
				}
				function setPath27(url){
					setPath(27, url)
				}
				function setPath28(url){
					setPath(28, url)
				}
				function setPath29(url){
					setPath(29, url)
				}
				function setPath30(url){
					setPath(30, url)
				}
				</script>
				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>
			</form>
        
        
        </div><!--contentwrapper-->
        