*{margin:0;padding:0}
a{text-decoration:none}
li{list-style:none}
body{background:#F7F7F7}
p{margin:0;padding:0;text-align:left;padding-left:1rem;line-height:2.5rem}
.fl{float:left}
.fr{float:right}

/***alert提示***/
.alert{
	position: fixed;
    top: 0%;
    z-index: 9999;
    width: 100%;
	height:100%;
    left: 0%;
	display:none;
}
.alert .alert-bg{
	top:100%;
	height:100%;
	width:100%;
	background:#000;
	opacity: 0.5;
}
.alert .alert-txt{
	width:80%;
	position:absolute;
	top:30%;
	left:10%;
	background:#fff;
	border-radius:10px;	
}
.alert .alert-msg {
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: .8rem;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}
.alert .alert-content{
	height:3rem;
	margin:1rem 5%;
	font-size: .85rem;
    color: #666666;
}
.alert .alert-btn{
	width:100%;
	font-size:.8rem;
	text-align:center;
	height:2.2rem;
	border-top:1px solid #ddd;
}
.alert .alert-btn ul{
	height: 2.2rem;;
    width: 100%;
    display: -webkit-box;
}
.alert .alert-btn li{
	-webkit-box-flex: 1;
    line-height: 2.2rem;
    text-align: center;
    font-size: .8rem;
    color: #666666;
    font-weight: 500;
}
.alert .alert-btn .line{border-right:1px solid #ddd;}

