@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?uh1wnx');
    src:    url('icomoon.eot?uh1wnx#iefix') format('embedded-opentype'),
        url('icomoon.ttf?uh1wnx') format('truetype'),
        url('icomoon.woff?uh1wnx') format('woff'),
        url('icomoon.svg?uh1wnx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-btn__:before {
    content: "\e941";
}
.icon-btn__2:before {
    content: "\e942";
}
.icon-110:before {
    content: "\e93f";
}
.icon-uniE940:before {
    content: "\e940";
}
.icon-uniE96E:before {
    content: "\e96e";
}
.icon-FY_:before {
    content: "\e96f";
}
.icon-uniE96D:before {
    content: "\e96d";
}
.icon-uniE96B:before {
    content: "\e96b";
}
.icon-uniE96C:before {
    content: "\e96c";
}
.icon-uniE967:before {
    content: "\e967";
}
.icon--01:before {
    content: "\e968";
}
.icon-uniE969:before {
    content: "\e969";
}
.icon-113:before {
    content: "\e96a";
}
.icon-uniE966:before {
    content: "\e966";
}
.icon-uniE965:before {
    content: "\e965";
}
.icon-vip0:before {
    content: "\e95e";
}
.icon-vip6:before {
    content: "\e95f";
}
.icon-vip5:before {
    content: "\e960";
}
.icon-vip4:before {
    content: "\e961";
}
.icon-vip3:before {
    content: "\e962";
}
.icon-vip2:before {
    content: "\e963";
}
.icon-vip1:before {
    content: "\e964";
}
.icon-uniE95B:before {
    content: "\e95b";
}
.icon-uniE95C:before {
    content: "\e95c";
}
.icon-112:before {
    content: "\e95d";
}
.icon-uniE95A:before {
    content: "\e95a";
}
.icon-uniE959:before {
    content: "\e959";
}
.icon-uniE956:before {
    content: "\e956";
}
.icon-uniE957:before {
    content: "\e957";
}
.icon-uniE958:before {
    content: "\e958";
}
.icon-uniE951:before {
    content: "\e951";
}
.icon-uniE952:before {
    content: "\e952";
}
.icon-uniE953:before {
    content: "\e953";
}
.icon-uniE954:before {
    content: "\e954";
}
.icon-purchase:before {
    content: "\e955";
}
.icon-uniE949:before {
    content: "\e949";
}
.icon-uniE94A:before {
    content: "\e94a";
}
.icon-uniE94B:before {
    content: "\e94b";
}
.icon-uniE94C:before {
    content: "\e94c";
}
.icon-uniE94D:before {
    content: "\e94d";
}
.icon-icon:before {
    content: "\e94e";
}
.icon-uniE94F:before {
    content: "\e94f";
}
.icon-VIP_2:before {
    content: "\e950";
}
.icon-uniE948:before {
    content: "\e948";
}
.icon-111:before {
    content: "\e946";
}
.icon-uniE947:before {
    content: "\e947";
}
.icon-uniE945:before {
    content: "\e945";
}
.icon-uniE943:before {
    content: "\e943";
}
.icon-uniE944:before {
    content: "\e944";
}
.icon-uniE93D:before {
    content: "\e93d";
}
.icon-uniE93E:before {
    content: "\e93e";
}
.icon-kunzy:before {
    content: "\e900";
}
.icon-uniE901:before {
    content: "\e901";
}
.icon-uniE902:before {
    content: "\e902";
}
.icon-uniE903:before {
    content: "\e903";
}
.icon-uniE904:before {
    content: "\e904";
}
.icon-uniE905:before {
    content: "\e905";
}
.icon-uniE906:before {
    content: "\e906";
}
.icon-QQ:before {
    content: "\e907";
}
.icon-uniE908:before {
    content: "\e908";
}
.icon-uniE909:before {
    content: "\e909";
}
.icon-uniE90A:before {
    content: "\e90a";
}
.icon-uniE90B:before {
    content: "\e90b";
}
.icon-icon-1460187631756:before {
    content: "\e90c";
}
.icon-1:before {
    content: "\e90d";
}
.icon-12:before {
    content: "\e90e";
}
.icon-uniE90F:before {
    content: "\e90f";
}
.icon-13:before {
    content: "\e910";
}
.icon-uniE911:before {
    content: "\e911";
}
.icon-uniE912:before {
    content: "\e912";
}
.icon-uniE913:before {
    content: "\e913";
}
.icon-14:before {
    content: "\e914";
}
.icon-2:before {
    content: "\e915";
}
.icon-3:before {
    content: "\e916";
}
.icon-uniE917:before {
    content: "\e917";
}
.icon-uniE918:before {
    content: "\e918";
}
.icon-uniE919:before {
    content: "\e919";
}
.icon-15:before {
    content: "\e91a";
}
.icon-22:before {
    content: "\e91b";
}
.icon-32:before {
    content: "\e91c";
}
.icon-4:before {
    content: "\e91d";
}
.icon-5:before {
    content: "\e91e";
}
.icon-6:before {
    content: "\e91f";
}
.icon-uniE920:before {
    content: "\e920";
}
.icon-uniE921:before {
    content: "\e921";
}
.icon-uniE922:before {
    content: "\e922";
}
.icon-uniE923:before {
    content: "\e923";
}
.icon-uniE924:before {
    content: "\e924";
}
.icon-uniE925:before {
    content: "\e925";
}
.icon-uniE926:before {
    content: "\e926";
}
.icon-16:before {
    content: "\e927";
}
.icon-23:before {
    content: "\e928";
}
.icon-uniE929:before {
    content: "\e929";
}
.icon-17:before {
    content: "\e92a";
}
.icon-uniE92B:before {
    content: "\e92b";
}
.icon-uniE92C:before {
    content: "\e92c";
}
.icon-uniE92D:before {
    content: "\e92d";
}
.icon-uniE92E:before {
    content: "\e92e";
}
.icon-uniE92F:before {
    content: "\e92f";
}
.icon-uniE930:before {
    content: "\e930";
}
.icon-uniE931:before {
    content: "\e931";
}
.icon-uniE932:before {
    content: "\e932";
}
.icon-18:before {
    content: "\e933";
}
.icon-uniE934:before {
    content: "\e934";
}
.icon-uniE935:before {
    content: "\e935";
}
.icon-19:before {
    content: "\e936";
}
.icon-uniE937:before {
    content: "\e937";
}
.icon-uniE938:before {
    content: "\e938";
}
.icon-uniE939:before {
    content: "\e939";
}
.icon-uniE93A:before {
    content: "\e93a";
}
.icon-uniE93B:before {
    content: "\e93b";
}
.icon-uniE93C:before {
    content: "\e93c";
}

