
        <div class="pageheader notab">
            <h1 class="pagetitle">公告消息管理</h1>
            <span class="pagedesc">管理平台中的公告通知信息</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
			<div class="tableoptions">                    
				<button class="radius3" onclick="location.href='{:U('edit')}'">发布通知</button>
			</div><!--tableoptions-->

			<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
				<thead>
					<tr>
						<th class="head1">标题</th>
						<th class="head0">发布日期</th>
						<th class="head0">操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
					<tr style="background:#fff">
						<td>{$vo.title}</td>
						<td>{$vo.create_time|date="Y-m-d",###}</td>
						<td class="center">
							<a href="{:U('edit', 'id='.$vo['id'])}">修改</a> | 
							<a href="{:U('del', 'id='.$vo['id'])}" onclick="return confirm('你确实要删除这个通知吗？')">删除</a>
						</td>
					</tr>
					</volist>
				</tbody>
			</table>
			<div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate">
			{$page|default="<p style='text-align:center'>暂时没有数据</p>"}
			</div>
        
        </div><!--contentwrapper-->
        