        <div class="pageheader notab">
            <h1 class="pagetitle">编辑听书</h1>
            <span class="pagedesc">请认真编辑听书的各项信息</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
			
        
            <form class="stdform stdform2" method="post" enctype="multipart/form-data">
				<style>
				.form-table{ width:100%; background:#ddd;}
				.form-table th,.form-table td{ padding:15px;}
				.form-table th.title{ width:190px; background:#fcfcfc; color:#666; text-align:left;}
				.form-table th small{ font-weight:normal; color:#999; display:block;}
				.form-table td{ background:#fff; vertical-align:middle;}
				</style>
				<table class="form-table" cellspacing="1" border="0">
					<tr>
						<th class="title">听书标题<small>听书名称</small></th>
						<td>
							<input type="text" name="title" id="title" value="{$info.title}" class="smallinput" />
						</td>
					</tr>
					<tr>
						<th class="title">听书作者<small></small></th>
						<td>
							<input type="text" name="author" id="author" value="{$info.author}" class="smallinput" />
						</td>
					</tr>
					<tr>
						<th class="title">排序权值<small></small></th>
						<td>
							<input type="text" name="sort" id="sort" value="{$info.sort}" class="smallinput" />
						</td>
					</tr>
					<tr>
						<th class="title">听书首页分类</th>
						<td>
							<foreach name="_yook" item="v" key="k">
								<if condition="$v['show'] eq 2">
								<input type="checkbox" name="bookcate[]" id="bookcate" value="{$k}"  <if condition="in_array($k, $bookcate)">checked</if> />{$v['name']}&nbsp;&nbsp;&nbsp;
								</if>
							</foreach>
						</td>
					</tr>
					<tr>
						<th class="title">文章分类</th>
						<td>
							<input type="checkbox" name="arrcateids[]" id="arrcateids1" value="1"  <if condition="in_array(1, $arrcateids)">checked</if> />总裁&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids2" value="2"  <if condition="in_array(2, $arrcateids)">checked</if> />穿越&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids3" value="3"  <if condition="in_array(3, $arrcateids)">checked</if> />校园&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids4" value="4"  <if condition="in_array(4, $arrcateids)">checked</if> />恐怖&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids5" value="5"  <if condition="in_array(5, $arrcateids)">checked</if> />古风&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids6" value="6"  <if condition="in_array(6, $arrcateids)">checked</if> />恋爱&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids7" value="7"  <if condition="in_array(7, $arrcateids)">checked</if> />奇幻&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids8" value="8"  <if condition="in_array(8, $arrcateids)">checked</if> />热血&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids9" value="9"  <if condition="in_array(9, $arrcateids)">checked</if> />悬疑&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids10" value="10"  <if condition="in_array(10, $arrcateids)">checked</if> />耽美&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids11" value="11"  <if condition="in_array(11, $arrcateids)">checked</if> />都市&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids12" value="12"  <if condition="in_array(12, $arrcateids)">checked</if> />爆笑&nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="arrcateids[]" id="arrcateids13" value="13"  <if condition="in_array(13, $arrcateids)">checked</if> />真人&nbsp;&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<th class="title">属性</th>
						<td>
							<input name="free_type" type="radio" value="1" <if condition="$info['free_type'] eq 1">checked</if> />免费&nbsp;&nbsp;&nbsp;
							<input name="free_type" type="radio" value="2" <if condition="$info['free_type'] eq 2">checked</if> />付费&nbsp;&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<th class="title">开始需要付费话数<small>第m话开始需要付费，免费填0</small></th>
						<td>
							<input type="text" name="pay_num" id="pay_num" value="{$info.pay_num}" class="smallinput" placeholder="默认免费0" />（当前共{$info.episodes}话）
						</td>
					</tr>
					<tr>
						<th class="title">初始化人气值<small></small></th>
						<td>
							<input type="text" name="reader" id="reader" value="{$info.reader}" class="smallinput" placeholder="" />
						</td>
					</tr>
					<tr>
						<th class="title">初始化点赞数<small></small></th>
						<td>
							<input type="text" name="likes" id="likes" value="{$info.likes}" class="smallinput" placeholder="" />
						</td>
					</tr>
					<tr>
						<th class="title">初始化收藏数<small></small></th>
						<td>
							<input type="text" name="collect" id="collect" value="{$info.collect}" class="smallinput" placeholder="" />
						</td>
					</tr>
					<tr>
						<th class="title">是否最近更新</th>
						<td>
							<input name="is_new" type="radio" value="1" <if condition="$info['is_new'] eq 1">checked</if> />是&nbsp;&nbsp;&nbsp;
							<input name="is_new" type="radio" value="0" <if condition="$info['is_new'] eq 0">checked</if> />否&nbsp;&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<th class="title">是否精选推荐</th>
						<td>
							<input name="is_recomm" type="radio" value="1" <if condition="$info['is_recomm'] eq 1">checked</if> />是&nbsp;&nbsp;&nbsp;
							<input name="is_recomm" type="radio" value="0" <if condition="$info['is_recomm'] eq 0">checked</if> />否&nbsp;&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<th class="title">是否已完结</th>
						<td>
							<input name="status" type="radio" value="2" <if condition="$info['status'] eq 2">checked</if> />已完结&nbsp;&nbsp;&nbsp;
							<input name="status" type="radio" value="1" <if condition="$info['status'] eq 1">checked</if> />连载中&nbsp;&nbsp;&nbsp;
						</td>
					</tr>
										
					<tr>
						<th class="title">
							听书封面图（用于列表）
						</th>
						<td>
							<input type="text" name="cover_pic" id="cover_pic" value="{$info.cover_pic}" class="smallinput" />
						</td>
					</tr>
					<tr>
						<th class="title">
							听书详情图（用于详情介绍页）
						</th>
						<td>
							<input type="text" name="detail_pic" id="detail_pic" value="{$info.detail_pic}" class="smallinput" />
						</td>
					</tr>
					
					
					
					
					<tr>
						<th class="title">听书简介</th>
						<td>
							<textarea name="summary" id="summary" class="longinput" style="margin: 0px; height: 120px; max-width:1640px;">{$info.summary}</textarea>
						</td>
					</tr>
				</table>
				
				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>
			</form>
			
        </div><!--contentwrapper-->
        