		<script src="__PUBLIC__/plugins/My97DatePicker/WdatePicker.js"></script>
        <div class="pageheader notab">
            <h1 class="pagetitle">转账记录</h1>
            <span class="pagedesc">企业付款记录</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21" style="background:#fff">
        
        
			<div class="tableoptions">                    
				<form method="post">
					等级:
					<select name="status" default="{$_GET['status']}" style="width:90px; min-width:0;">
						<option value="">全部</option>
						<option value="2">成功</option>
						<option value="-1">失败</option>
					</select>
					用户:
					<input type="text" name="user_id" value="{$_GET['user_id']}" placeholder="请输入用户编号" class="smallinput" style="width:100px;" />
					操作时间:
					<input type="text" name="time1" value="{$_GET['time1']}" class="smallinput" style="width:100px;" onclick="WdatePicker()" />
					到
					<input type="text" name="time2" value="{$_GET['time2']}" class="smallinput" style="width:100px;" onclick="WdatePicker()"  />
					<input type="submit" value="查找" />
				</form>
			</div><!--tableoptions-->

			<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
				<thead>
					<tr>
						<th class="head1">编号</th>
						<th class="head1">用户ID</th>
						<th class="head0">用户昵称</th>
						<th class="head0">金额</th>
						<th class="head0">状态</th>
						<th class="head0">支付信息</th>
						<th class="head0">操作时间</th>
						<th class="head0">操作人</th>				
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$vo.user_id}</td>
						<td>{$vo.nickname}</td>
						<td>{$vo['money']/100}</td>
						<td>
						<if condition="$vo['status'] eq -1">支付失败
						<elseif condition="$vo['status'] eq 1"/>未支付
						<elseif condition="$vo['status'] eq 2"/>支付成功
						<else/>未知</if>
						</td>
						<td>{$vo.msg}</td>
						
						<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
						<td>{$vo.op}</td>
					</tr>
					</volist>
				</tbody>
			</table>
			<div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate">
			{$page|default="<p style='text-align:center'>暂时没有数据</p>"}
			</div>
        
        </div><!--contentwrapper-->
        