
        <div class="pageheader notab">
            <h1 class="pagetitle">VIP期限费用设置</h1>
            <span class="pagedesc">设置VIP期限费用信息</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
            <form class="stdform stdform2" method="post">
				
				<p>
					<label>一级体验VIP持续时间<small>单位是分钟,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip99last" id="vip99last" value="{$_CFG.vipset.vip99last}" class="smallinput" /></span>
				</p>
				<p>
					<label>一级体验VIP所需费用<small>单位是元,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip99cost" id="vip99cost" value="{$_CFG.vipset.vip99cost}" class="smallinput" /></span>
				</p>
				<p>
					<label>二级体验VIP持续时间<small>单位是分钟,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip98last" id="vip98last" value="{$_CFG.vipset.vip98last}" class="smallinput" /></span>
				</p>
				<p>
					<label>二级体验VIP所需费用<small>单位是元,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip98cost" id="vip98cost" value="{$_CFG.vipset.vip98cost}" class="smallinput" /></span>
				</p>
				<p>
					<label>三级体验VIP持续时间<small>单位是分钟,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip97last" id="vip97last" value="{$_CFG.vipset.vip97last}" class="smallinput" /></span>
				</p>
				<p>
					<label>三级体验VIP所需费用<small>单位是元,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip97cost" id="vip97cost" value="{$_CFG.vipset.vip97cost}" class="smallinput" /></span>
				</p>
				<p>
					<label>四级体验VIP持续时间<small>单位是分钟,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip96last" id="vip96last" value="{$_CFG.vipset.vip96last}" class="smallinput" /></span>
				</p>
				<p>
					<label>四级体验VIP所需费用<small>单位是元,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip96cost" id="vip96cost" value="{$_CFG.vipset.vip96cost}" class="smallinput" /></span>
				</p>
				<p>
					<label>五级体验VIP持续时间<small>单位是分钟,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip95last" id="vip95last" value="{$_CFG.vipset.vip95last}" class="smallinput" /></span>
				</p>
				<p>
					<label>五级体验VIP所需费用<small>单位是元,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip95cost" id="vip95cost" value="{$_CFG.vipset.vip95cost}" class="smallinput" /></span>
				</p>
				<p>
					<label>一级VIP持续时间<small>单位是月,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip1last" id="vip1last" value="{$_CFG.vipset.vip1last}" class="smallinput" /></span>
				</p>
				<p>
					<label>一级VIP所需费用<small>单位是元,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip1cost" id="vip1cost" value="{$_CFG.vipset.vip1cost}" class="smallinput" /></span>
				</p>
				<!-- <p>
					<label>一级分销商积分赠送比例</label>
					<span class="field"><input type="text" name="level1_pper" id="level1_pper" value="{$_CFG.vipset.level1_pper}" class="smallinput" /></span>
				</p> -->
				<!-- <p>
					<label>二级VIP持续时间<small>单位是月,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip2last" id="vip2last" value="{$_CFG.vipset.vip2last}" class="smallinput" /></span>
				</p>
				<p>
					<label>二级VIP所需费用<small>单位是元,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip2cost" id="vip2cost" value="{$_CFG.vipset.vip2cost}" class="smallinput" /></span>
				</p> -->
				<!-- <p>
					<label>二级分销商积分赠送比例</label>
					<span class="field"><input type="text" name="level2_pper" id="level2_pper" value="{$_CFG.vipset.level2_pper}" class="smallinput" /></span>
				</p> -->
				<!-- <p>
					<label>三级VIP持续时间<small>单位是月,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip3last" id="vip3last" value="{$_CFG.vipset.vip3last}" class="smallinput" /></span>
				</p>
				<p>
					<label>三级VIP所需费用<small>单位是元,填写数值即可</small></label>
					<span class="field"><input type="text" name="vip3cost" id="vip3cost" value="{$_CFG.vipset.vip3cost}" class="smallinput" /></span>
				</p> -->
				<!-- <p>
					<label>三级分销商积分赠送比例</label>
					<span class="field"><input type="text" name="level3_pper" id="level3_pper" value="{$_CFG.vipset.level3_pper}" class="smallinput" /></span>
				</p> -->
				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>
			</form>
			
			<script>
				jQuery(document).ready(function(e){
					$ = jQuery;
					//调整下拉的默认选择
					$("select").each(function(index, element) {
						$(element).find("option[value='"+$(this).attr('default')+"']").attr('selected','selected');
					});
				});
			</script>
        
        </div><!--contentwrapper-->
        