
        <div class="pageheader notab">
            <h1 class="pagetitle">优云宝支付设置</h1>
            <span class="pagedesc">设置优云宝支付的基本信息</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
            <form class="stdform stdform2" method="post">
				<p>
					<label>第三方支付名称</label>
					<span class="field"><input type="text" name="name" id="name" value="{$_CFG.yyb.name}" class="smallinput" /></span>
				</p>
				<p>
					<label>第三方支付ID</label>
					<span class="field"><input type="text" name="payid" id="payid" value="{$_CFG.yyb.payid}" class="smallinput" /></span>
				</p>
				<p>
					<label>第三方支付Key</label>
					<span class="field"><input type="text" name="paykey" id="paykey" value="{$_CFG.yyb.paykey}" class="smallinput" /></span>
				</p>
				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>
			</form>
        
        
        </div><!--contentwrapper-->
        