<link href="__PUBLIC__/date/css/mobiscroll_002.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/date/css/mobiscroll.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/date/css/mobiscroll_003.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/date/js/jquery.1.7.2.min.js"></script>
<script src="__PUBLIC__/date/js/mobiscroll_002.js" type="text/javascript"></script>
<script src="__PUBLIC__/date/js/mobiscroll_004.js" type="text/javascript"></script>
<script src="__PUBLIC__/date/js/mobiscroll.js" type="text/javascript"></script>
<script src="__PUBLIC__/date/js/mobiscroll_003.js" type="text/javascript"></script>
<script src="__PUBLIC__/date/js/mobiscroll_005.js" type="text/javascript"></script>
<input value="" class="" readonly="readonly" name="date" id="appDate" type="text">
<script type="text/javascript">
	$(function () {
		var currYear = (new Date()).getFullYear();	
		var opt={};
		opt.date = {preset : 'date'};
		opt.datetime = {preset : 'datetime'};
		opt.time = {preset : 'time'};
		opt.default = {
			theme: 'android-ics light', //皮肤样式
			display: 'modal', //显示方式 
			mode: 'scroller', //日期选择模式
			dateFormat: 'yyyy-mm-dd',
			lang: 'zh',
			showNow: true,
			nowText: "今天",
			startYear: currYear - 100, //开始年份
			endYear: currYear + 100 //结束年份
		};

		$("#appDate").mobiscroll($.extend(opt['date'], opt['default']));
	});
</script>