<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no, address=no">
<title>{$_site['name']}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/ever/css/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/ever/css/app.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/ever/css/font.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/ever/css/designer.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/ever/css/index.css">
<body bgcolor="#f2f2f2">
