
        <div class="pageheader notab">
            <h1 class="pagetitle">代理管理</h1>
            <span class="pagedesc">管理商城中的代理信息</span>
            
        </div><!--pageheader-->
        <style>
			.ysta{
				cursor: pointer;
				display: block;
				padding: 1px 5px;
				text-align: center;
				color: #fff;
				border-radius: 5px;
				width: 50px;
				margin-left: 30px;
				line-height: 20px;
			}
			.ycl{background:#387BEE}
			.ncl{background:#F44336}
			.r4{
				display: block;
				width: 70px;
				line-height: 25px;
				background: #FF9800;
				float: right;
				text-align: center;
				font-size: 15px;
				color: #fff;
				border-radius: 5px;
				margin-right:5%;
			}
		</style>
        <div id="contentwrapper" class="contentwrapper lineheight21" style="background:#fff">
        
        
			<div class="tableoptions">                    
				<button class="radius3" onclick="location.href='{:U('edit')}'">添加代理</button>
			</div><!--tableoptions-->
 
			<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
				<thead>
					<tr>
						<th class="head1">代理公司名称</th>
						<th class="head1">代理地址/二维码</th>
						<th class="head1">返佣比例(单位:%)</th>
						<th class="head1">账户余额</th>
						<th class="head1">审核状态</th>
						<th class="head1">操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
					<tr>
						<td>{$vo.name}</td>
						<td><a href="javascript:;" style="color:blue" onclick="showQrcode({$vo['id']})">点击查看</a></td>
						<td>{$vo.separate}%</td>
						<td>{$vo.money}<a href="javascript:;" class="r4" onclick="Addwith({$vo.id});">结算</a></td>
						<td>
							<if condition="$vo['status'] eq 1">
								<a class="ysta ycl" href="{:U('setStatus', 'id='.$vo['id'])}">已启用</a>
							<else />
								<a class="ysta ncl" href="{:U('setStatus', 'id='.$vo['id'])}">已禁用</a>
							</if>
						</td>
						<td class="center">
							<a href="{:U('edit', 'id='.$vo['id'])}">修改</a> | 
							<a href="javascript:;" onclick="charge({$vo['id']});">充值记录</a> | 
							<a href="javascript:;" onclick="cdesc({$vo['id']});">扣量记录</a> | 
							<a href="javascript:;" onclick="separate({$vo['id']});">分成记录</a> | 
							<a href="javascript:;" onclick="withdraw({$vo['id']});" class="with" _id="{$vo.id}">提现记录(<span style="color:red;font-weight: 600;">{$vo.wcount}</span>)</a> |
							<a href="{:U('del', 'id='.$vo['id'])}" onclick="return confirm('你确实要删除这个代理吗？')">删除</a>
						</td>
					</tr>
					</volist>
				</tbody>
			</table>
			<div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate">
			{$page|default="<p style='text-align:center'>暂时没有数据</p>"}
			</div>
        
        </div><!--contentwrapper-->
        <link rel="stylesheet" href="__PUBLIC__/layer/skin/layer.css" type="text/css" />
		<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
		<script>
			var $=jQuery;
			layer.config({extend: 'extend/layer.ext.js'});
			//账户提现
			function Addwith(id){
				layer.prompt({title:'输入结算金额'},function(val, index){
					if(val == '' || val<=0){
						layer.msg('输入结算的金额不对！');
						return false;;
					}

					$.post("{:U('doWith')}",{money:val,id:id},function(d){
						if(d){
							if(d.status){
								layer.msg(d.info, {icon: 6});
								setTimeout(function(){
									layer.close(index);
									location.reload();
								}, 2000);
							}else{
								layer.msg(d.info);
							}
							
						}else{
							layer.msg('网络异常');
						}
					});
					layer.close(index);
				});
			}
			
			function showQrcode(id){
				layer.open({
				  type: 2,
				  title: '查看二维码',
				  shadeClose: true,
				  shade: 0.8,
				  area: ['445px', '430px'],
				  content: "{:U('showQrcode')}&id="+id,
				});
			}
			
			function charge(id){
				layer.open({
				  type: 2,
				  title: '充值记录',
				  shadeClose: true,
				  shade: 0.8,
				  area: ['70%', '90%'],
				  content: "{:U('charge')}&id="+id,
				});
			}
			
			function cdesc(id){
				layer.open({
				  type: 2,
				  title: '扣量记录',
				  shadeClose: true,
				  shade: 0.8,
				  area: ['70%', '90%'],
				  content: "{:U('cdesc')}&id="+id,
				});
			}
			
			
			function separate(id){
				layer.open({
				  type: 2,
				  title: '分成记录',
				  shadeClose: true,
				  shade: 0.8,
				  area: ['70%', '90%'],
				  content: "{:U('separate')}&id="+id,
				});
			}
			

			function withdraw(id){
				layer.open({
				  type: 2,
				  title: '结算记录',
				  shadeClose: true,
				  shade: 0.8,
				  area: ['70%', '90%'],
				  content: "{:U('withdraw')}&id="+id,
				});
			}
			
			
			var ids = [];
			$('.with').each(function(i,v){
				ids.push($(this).attr("_id"));
			});
			console.log(ids);
			
			ref = setInterval(function(){
				$.post("{:U('getWithCount')}",{ids:ids.join(",")},function(d){
					if(d){
						$('.with').each(function(){
							
						});
					}else{
						alert('请求失败！');
					}
				});
			},5000);
			
			
			
			
			
			
			
			
			
		</script>