<include file="include/head" />
<body bgcolor="#f2f2f2">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/ever/css/common(1).css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/ever/css/app(1).css">
	<div class="red-page-header">
	<i class="iconfont icon-back" style="float: left;" onclick="javascript:history.go( - 1)"></i>
	<h3>我的客户</h3>
</div>
<style>
.active{
	background: #1071ae;
}
</style>
	<div class="zl_select">
		<div class="zl_select_span">
			<span class="active" status='parent1'>一级 &nbsp;&nbsp;({$user['agent1']}人)</span></a>
			<span status="parent2">二级 &nbsp;&nbsp;({$user['agent2']}人)</span></a>
			<span status="parent3">三级 &nbsp;&nbsp;({$user['agent3']}人)</span></a>
		</div>
	</div>
	<div class="level_content">
		<ul id="list">
			
		</ul>
	</div>


<div id="backtop">
	<i class="iconfont icon-fold"></i>
</div>
<link rel="stylesheet" href="__PUBLIC__/layer/skin/layer.css">
<script src="__HJS__/jquery-1.10.1.min.js"></script>
<script src="__PUBLIC__/layer_mobile/layer.js"></script>
<script src="__HJS__/common.js"></script>
<script type="text/javascript">
	var page = 1;
		html = false;
		status='parent1';
	loadTeam();
	$('.zl_select_span span').click(function(){
		$(this).addClass('active');
		$(this).siblings().removeClass("active");
		status = $(this).attr('status');
		p=1;
		$('#list').html('');
		loadTeam();
	});
		
	//加载评论
	function loadTeam(){
		AjaxLoad("{:U('Ucenter/getTeam')}",{page:page,status:status},$('#list'),html,loadTeam);
	}
</script>
<div id="backtop"><i class="iconfont icon-fold"></i></div>
</body>
</html>
