	{__NOLAYOUT__} 
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>管理后台</title>
	<link rel="stylesheet" href="__PUBLIC__/admin/css/style.default.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/plugins/bootstrap/css/bootstrap.font.css" type="text/css" />
	<script type="text/javascript" src="__PUBLIC__/admin/js/plugins/jquery-1.7.min.js"></script>
	<!--[if IE 9]>
		<link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
	<![endif]-->
	<!--[if IE 8]>
		<link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/plugins/css3-mediaqueries.js"></script>
	<![endif]-->
	</head>
	<style>
		.txt{padding:10px;}
		.txt .title{padding:10px 0;border-bottom:1px solid #ddd;text-align:center;font-size:16px;}
		.txt .content{padding: 20px;background: #f8fafb;}
	</style>
	<body>
        
		<div class="txt">
			<div class="title">{$info['title']}</div>
			<div class="content">
				{$info['content']}
			</div>
		</div>

	</body>
	</html>
        